<div class="rolling-banner">
  <div class="wrapper-banner">
    <div class="wrapper-banner-item">
      <% for (i = 0; i < 5; i++) { %>
        <div class="banner-item item-0<%= (i + 1) %>">
          <div class="desciption">
            <div class="col-4">
              <div class="category clearfix">
                <div class="left"> 쇼핑몰 </div>
                <div class="right"> 체험단 </div>
              </div>
            </div>
            <div class="col-8">
              <div class="text-description">
                <p class="title"> 무지 </p>
                <p>
                  전월 승인률 : 75.33%  / 승인시 12,000원
                </p>
                <p>
                  프로모션 + 2,000원
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <img src="./static/images/arrow-left.png" class="arrow-left arrow">
    <img src="./static/images/arrow-right.png" class="arrow-right arrow">

    <div class="navigation">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
