.wrapper-search-input .search-input {
}

section.customerCenter .container .col.content .search .wrapper-search-input {
  width: 460px;
}

section.customerCenter .container .col.content .search .wrapper-search-input input {
  padding-left: 35px;
}

td.subject {
  text-align: left !important;
}