@import '_variables';
section.customerCenter {
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f8fa;
  padding-top: 50px;
  padding-bottom: 80px;
  overflow: hidden;
  h2.main-h {
    font-size: 18px;
    color: #333;
    margin-bottom: 31px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;

    .col.menu {
      width: 280px;
      float: left;
      ul.main {
        border-top: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        li {
          width: 100%;
          height: 54px;
          padding-left: 20px;
          background-color: #fff;
          color: #555555;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          border-bottom: 1px solid #e0e0e0;
          a {
            font-size: 15px;
            &.active,
            &:hover {
              color: #fe1e53;
            }
          }
        }
      } // end ul

      ul.extension {
        margin-top: 10px;
        .col {
          background: #fff;
          float: left;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          border: 1px solid $borderColor;
          box-sizing: border-box;
          cursor: pointer;
          padding-left: 0;
          &:hover {
            span {
              color: #333;
            }

            .on {
              display: block;
            }

            .off {
              display: none;
            }
          }

          .off {
            display: block;
          }

          .on {
            display: none;
          }

          span {
            color: #a0a0a0;
            font-size: 14px;
            margin-top: 15px;
          }

          &:nth-child(1) {
            border-right: 0;
            img {
              width: 28px;
              height: 36px;
            }
          }

          &:nth-child(2) {
            img {
              width: 36px;
              height: 30px;
            }
          }

          &:nth-child(3) {
            border-top: 0;
            width: calc(50% + 1px);
            img {
              width: 30px;
              height: 35px;
            }
          }
        } // end .col
      } // end .extension
    } // end .menu

    .col.content {
      width: calc(100% - 280px);
      float: left;
      padding-left: 20px;
      padding-top: 20px;
      box-sizing: border-box;
      .search {
        display: flex;
        align-items: center;
        padding: 10px 0;
        padding-top: 20px;
        .options {
          width: 120px;
          height: 34px;
          margin-right: 10px;
          .items {
            .selected {
              button {
                background: #ffffff;
                img {
                  width: 10px;
                }
              }
            }
            ul {
              margin-top: 0;
              box-sizing: border-box;
            }
          }
        } // end .options

        .wrapper-search-input {
          box-sizing: border-box;
          border: 1px solid #e0e0e0;
          height: 34px;
          position: relative;
          margin-right: 10px;
          width: 244px;
          .icon-search {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 11px;
            top: 9px;
          }

          .search-input {
            border: 0;
            height: 100%;
            width: 100%;
            border: 0;
            padding: 0;
            padding-left: 35px;
            padding-right: 5px;
            box-sizing: border-box;
            &:focus {
              outline: none;
            }
          }
        } // end .wrapper-search-input

        .datepicker {
          height: 34px;
          width: 89px;
          margin-right: 10px;
          display: inline-block;
          position: relative;
          &.from {
            margin-right: 5px !important;
          }
          img {
            position: absolute;
            top: 12px;
            right: 5px;
            width: 11px;
          }
          input {
            text-align: left;
            padding-left: 7px !important;
            border: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            border: 1px solid #e0e0e0;
            box-sizing: border-box;
            background: #fbfbfb;
            color: #333333;
          }
        } // end .datepicker
        .wave {
          margin-right: 5px;
          color: #333;
        }
        .period, .inquiry, .write {
          width: 84px;
          height: 34px;
          background: #333;
          color: #fff;
          text-align: center;
          margin-right: 10px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          border: 0;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      } // end .search
      .wrapper-table {
        border: 1px solid #e0e0e0;
        margin-top: 11px;
        padding-bottom: 30px;
        padding-top: 30px;
        background: #fff;

        table {
          margin-top: 20px;
          background: #fff;
          border-collapse: collapse;
          width: calc(100% - 60px);
          border-collapse: collapse;
          margin-left: auto;
          margin-right: auto;

          th, td {
            border-top: 1px solid $borderColor;
            vertical-align: middle;
            color: #555555;
            font-size: 12px;
            font-weight: 400;
          }

          tr:first-child {
            th {
              border-top: 2px solid #333333;
              background: #fbfbfb;
            }
          }

          tr:last-child {
            td {
              border-bottom: 2px solid $borderColor;
            }
          }
          
          thead {
            tr {
              th {
                height: 42px;
                vertical-align: middle;
                font-size: 12px;
                font-weight: 400;
              }
            }
          }
          tbody {
            tr {
              td {
                font-size: 12px;
                height: 42px;
                vertical-align: middle;
                text-align: center;
                &.term {
                  font-size: 11px;
                }
              }
            }
          }
        } // end table
      } // end .wrapper-table
    } // end .col.content
    .pagination .col.active,
    .pagination .col:hover {
      color: #333;
      font-weight: bold;
    }
  } // end .container
}
