@import '_variables';
@import 'mypage_common';

body,html {
    background-color: #f9f8fa;
}

section.container .cols .right-col {
    margin-top: 20px;
    margin-bottom: 10px;
}

section.container .cols .right-col h1 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

section.container .cols .ad-container {
    
}

section.container .cols .ad-container .ad-container-inner {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px;
    height: 310px;
    border: 1px solid #e0e0e0;
}

section.container .cols .ad-container .ad-container-inner .ad-img-box {
    float: left;
    width: 25%;
    height: 230px;
    background-image: url(/static/images/mypage/ad-manage-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box {
    float: left;
    width: 75%;
    height: 230px;
    box-sizing: border-box;
    padding-left: 40px;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner {
    // background-color: #f9f9f9;
    width: 100%;
    height: 100%;;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top {
    padding-top: 10px;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.left {
    float: left;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.left h4 {
    font-size: 14px;
    color: #555;
    font-weight: 300;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.left h3 {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-top: 6px;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right {
    float: right;
    display: table;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right div {
    width: 46px;
    height: 46px;
    border: 1px solid #e0e0e0;
    float: left;
    margin-left: 10px;
    text-align: center;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right div.add {
    background-color: $point_hotpink;
    border: 0;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right div.pc {
    display: table-cell;
    vertical-align: middle;
    line-height: 46px;

}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right div.pc img {
    width: 28px;
    vertical-align: middle;
    margin-bottom: 2px;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right div.mobile {
    display: table-cell;
    vertical-align: middle;
    line-height: 46px;
}

section.container .cols .ad-container .ad-container-inner .ad-detail-box .ad-detail-inner .ad-detail-top div.right div.mobile img {
    width: 28px;
    vertical-align: middle;
    margin-bottom: 4px;
}

section.container .cols .ad-container .ad-detail-data {
    margin-top: 20px;
    border-top: 2px solid #333;
    width: 100%;
    background-color: #fbfbfb;
}

section.container .cols .ad-container .ad-detail-data li {
    float: left;
    width: 25%;
    text-align: center;
    height: 68px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

// section.container .cols .ad-container .ad-detail-data li:last-child {
//     border-right: 0;
// }

section.container .cols .ad-container .ad-detail-data li .data-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

section.container .cols .ad-container .ad-detail-data li .data-inner {
    display: table-cell;
    vertical-align: middle;
}

section.container .cols .ad-container .ad-detail-data li .data-inner .align-box {
    border-right: 1px solid #e0e0e0;
}

section.container .cols .ad-container .ad-detail-data li:nth-child(4n) .data-inner .align-box {
    border-right: 0;
}



section.container .cols .ad-container .ad-detail-data li p {
    font-size: 14px;
    font-weight: 400;
    color: #888;;
}

section.container .cols .ad-container .ad-detail-data li span {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-top: 5px;
    display: inline-block;
}

section.container .cols .ad-container .ad-detail-data li.status-list {
    background-color: #fff;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box p {
    display: inline-block;
    font-size: 13px;
    color: #555;
    font-weight: 400;;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box .status-color-box {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-bottom: 0px;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box .status-color-box.wait {
    background-color: #339707;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box .status-color-box.hold {
    background-color: #f39800;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box .status-color-box.reject {
    background-color: #ca1818;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box .status-color-box.approve {
    background-color: #2b98ed;
}

section.container .cols .ad-container .ad-detail-data li.status-list .align-box span.bold {
    font-size: 13px !important;
    font-weight: 500;
    color: #333;;
    margin-top: 0;
}

