@import '_variables';
@import 'mypage_common';

.caution {
  margin-top: 10px;   
}

.search {
  padding-bottom: 0 !important;
  position: relative;
}

.search .options.list-per-page {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
}

.search .options.list-per-page button {
  background: #fff !important;
}

.wrapper-table {

}

.wrapper-table .header-p {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  padding: 20px 0;
}

.wrapper-table .header-p button {
  margin-left: 10px;
  line-height: 18px;
  height: 20px;
}

.wrapper-table table tr td .bill-apply {
  display: inline-block;
  padding: 6px 18px;
  background: #333;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.parent-wrapper-guide {

}

.parent-wrapper-guide .wrapper-guide {
  margin-top: 15px;
}

.parent-wrapper-guide .wrapper-guide p {
  color: #ff0000;
  font-size: 12px;
}

.parent-wrapper-guide .wrapper-guide .content {
  display: flex;
  align-items: center;
  height: 57px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.parent-wrapper-guide .wrapper-guide .content button {
  width: auto;
  margin-left: 10px;
}


.modal {
  overflow: hidden;
}

.modal.modal-bill-apply {

}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.modal .modal-content table tr td {
  border-top: 1px solid #e0e0e0;
  border-collapse: collapse;
  font-size: 14px;
  padding: 12px 0;
}

.modal .modal-content table input {
  border: 1px solid #e0e0e0;
}

.modal .modal-content table tr:first-child td {
  border-top: 1px solid #333;
}

.modal.modal-bill-apply .modal-content {
  width: 400px;
  height: 495px;
  padding: 40px;
}

.modal.modal-bill-apply .modal-content table {
  width: 100%;
}

.modal.modal-bill-apply .modal-content table tr td {

}

.modal.modal-bill-apply .modal-content table tr.tr-specialNote td {
  border-top: 0;
}

.modal.modal-bill-apply .modal-content textarea {
  width: 100%;
  height: 100px;
  background: #fbfbfb; 
}

.modal.modal-reg-document {
  
}

.modal.modal-reg-document .modal-content {
  width: 400px;
  padding: 40px;

}

.modal.modal-reg-document .modal-content > p {
  font-size: 14px;
  margin-bottom: 16px;
}

.modal.modal-reg-document-update .modal-content {
  width: 400px;
}

.modal.modal-reg-document-update .modal-content > p {
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.modal.modal-reg-document-update .modal-content textarea {
  width: 100%;
  height: 100px;
  background: #fbfbfb;
}    