@import './variables';
@import './mypage_common';

section.container {
  .cols {
    .right-col {
      table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        thead {
          tr {
            th {
              height: 42px;
              box-sizing: border-box;
            }
          }
        } // end thead

        th, td {
          vertical-align: middle;
          color: #555555;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          height: 42px;
          box-sizing: border-box;
          &.campaign-name {
            width: 140px;
          }
          &.remote-ip {
            color: #818181;
          }
          &.status {
            width: 102px;
            span {
              margin: 0 auto;
              padding: 4px 13.4px;
              box-sizing: border-box;
              border-radius: 3px;
              display: inline-block;
              color: #fff;
              &.defer {
                background-color: #ff9300;
                // color: #ceaa01;
                // border:1px solid #ceaa01;
              }
              &.visited {
                background-color: #959595;
                // color: #339707;
                // border: 1px solid #339707;
              }
              &.approve {
                background-color: #0092f4;
                // color: #008fae;
                // border: 1px solid #008fae;
              }
              &.deny {
                background-color: #da0000;
                // color: #fe1e53;
                // border: 1px solid #fe1e53;
              }
              &.wait {
                background: #00bd00;
              }
            }
          } // end status
          &.access-route {
            text-align: left;
            a {
              padding: 10px 0;
            }
          }
          &.access-device {
            width: 98px;
          }
        } // end th, td
      } // end table
    }
  }
}

.wrapper-table table thead tr th:nth-child(3) {
  width: 90px;
}

.wrapper-table table thead tr th:nth-child(4) {
  width: 90px;
}