@import './variables.scss';
$fullWidth: 1200px;
$contentWidth: 1180px;
body {
  background: #f9f8fa;
}

.wrapper-table {
  background: #fff;
}

section.mypage {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  h2.main-h {
    font-size: 18px;
    color: #160e12;
    width: $contentWidth;
    margin: 0 auto;
  }

  .cols {
    width: $fullWidth;
    margin: 0 auto;
    .left-col {
      .profile {
        width: 100%;
        height: 353px;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        text-align: center;
        background-color: #fff;
        .thumbnail {
          width: 80px;
          height: 80px;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          display: inline-block;
          margin-top: 73px;
        }
        input[type=file] {
          display: none;
        }
        .nickname {
          font-size: 20px;
          color: #333;
          margin-top: 22px;
        }
        .current-point-title {
          font-size: 15px;
          color: #707070;
          margin-top: 12px;
        }
        .current-point-value {
          font-size: 18px;
          color: #fe1e53;
          margin-top: 8px;
        }
        .withdraw-request {
          width: 111px;
          height: 38px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          color: #fff;
          background: #333;
          margin-top: 16px;
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          border-radius: 3px;
          border: 0;
          font-size: 14px !important;
          cursor: pointer;
        }
      } // end .profile

      .wrapper-accordion {
        width: 100%;
        border:1px solid $borderColor;
        border-bottom: 0;
        box-sizing: border-box;
        margin-top: 10px;
        button.accordion {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          background: white;
          -webkit-appearance: none;
          border: 0;
          padding: 0 20px;
          box-sizing: border-box;
          cursor: pointer;
          border-bottom: 1px solid #e9e9e9;
          &:last-child {
            border-bottom: 0;
          }
          &.active {
            color: #fe1e53;
            font-weight: 500;
          }

          &:focus {
            
            outline: none;
          }
        } // .accordion
        .panel {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          p {
            height: 46px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: #fbfbfb;
            border-bottom: 1px solid $borderColor;
            color: #a0a0a0;
            font-size: 12px;
            box-sizing: border-box;
            &.active {
              border-bottom: 2px solid #fe1e53;
            }

            a {
              font-weight: 400;
              font-size: 13px;
              &.active {
                color: $point_hotpink;
                font-weight: 500;
              }
            }
          }
        } // .panel
      } // .wrapper-accordion

      .extension {
        margin-top: 10px;
        .col {
          overflow: hidden;
          float: left;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          border: 1px solid $borderColor;
          box-sizing: border-box;
          cursor: pointer;
          background-color: #fff;
          &:hover {
            span {
              color: #333;
            }
          }

          span {
            color: #a0a0a0;
            font-size: 14px;
            margin-top: 15px;
          }

          &:nth-child(1) {
            img {
              width: 28px;
              height: 36px;
            }
          }

          &:nth-child(2) {
            border-left: 0;
            img {
              width: 36px;
              height: 30px;
            }
          }

          &:nth-child(3) {
            border-top: 0;
            img {
              width: 30px;
              height: 35px;
            }
          }

          &:last-child {
            border-top: 0;
            border-left: 0;
            cursor: default;
            img {
              margin-right: 5px;
            }
          }
        }
      }
    } // end .left-col

    .right-col {
      .search {
        display: flex;
        align-items: center;
        padding: 10px 0;
        padding-top: 20px;
        .options {
          width: 84px;
          height: 34px;
          margin-right: 10px;
          .items {
            .selected {
              button {
                img {
                  width: 10px;
                }
              }
            }
            button {
              background: #fff !important;
            }
            ul {
              margin-top: 0;
              box-sizing: border-box;
            }
          }
        } // end .options

        .datepicker {
          height: 34px;
          width: 92px;
          margin-right: 10px;
          display: inline-block;
          position: relative;
          &.from {
            margin-right: 5px !important;
          }
          img {
            position: absolute;
            top: 12px;
            right: 5px;
            width: 11px;
          }
          input {
            text-align: left;
            padding-left: 7px !important;
            border: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            border: 1px solid #e0e0e0;
            box-sizing: border-box;
            background: #fbfbfb;
            color: #333333;
          }
        } // end .datepicker
        .wave {
          margin-right: 5px;
          color: #333;
        }
        .period, .inquiry {
          width: 84px;
          height: 34px;
          background: #333;
          color: #fff;
          text-align: center;
          margin-right: 10px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          border: 0;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      } // end .search

      .wrapper-table {
        border: 1px solid #e0e0e0;
        margin-top: 11px;
        padding-bottom: 30px;
        padding-top: 30px;
        table {
          width: calc(100% - 60px);
          border-collapse: collapse;
          margin-left: auto;
          margin-right: auto;

          th, td {
            border-top: 1px solid $borderColor;
            vertical-align: middle;
            color: #555555;
            font-size: 12px;
            font-weight: 400;
          }

          tr:first-child {
            th {
              border-top: 2px solid #333333;
              background: #fbfbfb;
            }
          }

          tr:last-child {
            td {
              border-bottom: 2px solid $borderColor;
            }
          }
        }
      }


      .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        .col {
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          box-sizing: border-box;
          text-align: center;
          font-size: 14px;
          color: #818181;
          cursor: pointer;
          font-weight: 200;
          &.active,
          &:hover {
            color: #333;
            font-weight: bold;
          }
          &.icon {
            line-height: 26px;
          }
          img {
            vertical-align: middle;
          }

        }
      } // end .pagination
    } // end .right-col
  }
}


footer {
  width: $contentWidth !important;
}

.wrapper-table {
  border: 1px solid #e0e0e0;
  margin-top: 11px;
  padding-bottom: 30px;
  padding-top: 30px;
  table {
    width: calc(100% - 60px);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    th, td {
      border-top: 1px solid $borderColor;
      vertical-align: middle;
      color: #555555;
      font-size: 12px;
      font-weight: 400;
    }

    tr:first-child {
      th {
        border-top: 2px solid #333333;
        background: #fbfbfb;
      }
    }

    tr:last-child {
      td {
        border-bottom: 2px solid $borderColor;
      }
    }

    thead {
      tr th {
        height: 42px;
        &:nth-child(1) {
          width: 80px;
        }
        &:nth-child(2) {
          width: 94px;
        }
        &:nth-child(3) {
          width: 130px;
        }
        &:nth-child(4) {
          width: 162px;
        }
        &:nth-child(5) {
          width: 268px;
        }
      }
    } // end thead

    tbody {
      tr {
        td {
          height: 64px;
          text-align: center;

          &.campaign-name {
            .controll {
              margin-top: 5px;
              button {
                cursor: pointer;
                border-radius: 3px;
                &:hover {
                  background: #f2f2f2;
                  overflow: hidden;
                }
              }
            }
          }
          &.url {
            a {
              color: #0000ff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          &.confirm {
            button {
              margin: 0 auto;
              border: 0;
              border-radius: 3px;
              width: 64px;
              height: 29px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #666666;
              cursor: pointer;
              border: 1px solid #cccccc;
              &:hover {
                background: #333;
                color: #fff;
              }
            }
          }
        }
      }
    } // end tbody
  } // end table
} // end .wrapper-table

.caution {
  border: 1px solid $borderColor;
  background: #fafafa;
  padding: 29px 33px;
  margin-top: 30px;
  h3 {
    color: #333333;
    font-size: 14px;
    margin-bottom: 13px;
  }
  
  p {
    font-size: 12px;
    color: #818181;
    margin-bottom: 5px;
    line-height: 1.4;
    font-weight: 200;
  }
} // end .caution

.search .options.list-per-page {
    position: absolute;
    right: 0;
    margin-right: 0 !important;
  }
  

.modal.modal-click-one .modal-content {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.modal.modal-click-one .modal-content .reason-title {
  font-size: 12px;
  margin-top: 20px;
}

.modal.modal-click-one .modal-content .options button {
  background: #fbfbfb;
}

.modal.modal-click-one .modal-content textarea {
  width: 100%;
  margin-top: 12px;
  height: 86px;
  background: #fbfbfb;
  border: 1px solid #e0e0e0;
}

.modal.modal-click-one .modal-content button.confirm {
  margin-top: 12px;
}

.modal.modal-click-one .modal-content button.confirm:hover {
  background: #000;
}

.modal.modal-click-multiple .modal-content {
  position: absolute;
  width: 484px;
  height: 260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  overflow-y: auto;
}

.modal.modal-click-multiple .modal-content table {
  width: 100%;
}

.modal.modal-click-multiple .modal-content table tr td,
.modal.modal-click-multiple .modal-content table tr th {
  text-align: center;
  height: 42px;
}

.modal.modal-click-multiple .modal-content table .options {
  width: 76px;
  height: 26px;
}

.modal.modal-click-multiple .modal-content table .options .items .selected button img {
  right: 10px;
  top: 11px;
  pointer-events: none;
  width: 10px;
}

.modal.modal-click-multiple .modal-content .confirm-button {
  margin-top: 8px;
}

.modal.modal-click-multiple .modal-content .confirm-button:hover {
  background: #000;
}

.modal.modal-show-detail .modal-content {
  position: absolute;
  width: 480px;
  height: 568px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  overflow-y: auto;
}

.modal.modal-show-detail .modal-content table {
  width: 100%;
}

.modal.modal-show-detail .modal-content table tr {

}

.modal.modal-show-detail .modal-content table tr:first-child td {
  border-top: 1px solid #333;
}

.modal.modal-show-detail .modal-content table tr td {
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
  font-size: 14px;
}

.modal.modal-show-detail .modal-content table tr td:first-child {
  font-weight: 200;
}

.modal.modal-show-detail .modal-content .wrapper-buttons {
  margin-top: 10px;
}

.modal.modal-show-detail .modal-content .wrapper-buttons button {
  width: 60px;
  height: 24px;
  font-size: 10px;
}

.small-btn {
  width: 60px;
  height: 24px;
  font-size: 10px;
}

.modal.modal-reason .modal-content {
  position: absolute;
  width: 250px;
  height: 190px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  overflow-y: auto;
  padding: 20px;
}

.modal.modal-reason .modal-content p.title {
  display: none;
  font-size: 12px;
}

.modal.modal-reason .modal-content textarea {
  background: #fbfbfb;
  border: 1px solid #e0e0e0;
  width: 100%;
  min-height: 90px;
  margin-top: 10px;
}

.modal.modal-reason .modal-content button {
  margin-top: 8px;
}

section.mypage .cols .right-col .search .datepicker input {
  background: #fff !important;
}

section.mypage .cols .right-col .search .datepicker img {
  right: 7px !important;
}

section.mypage .cols .right-col .search .period, 
section.mypage .cols .right-col .search .inquiry {
  font-weight: 300 !important;
}

section.mypage .cols .left-col .wrapper-accordion .panel p a {
  font-size: 14px !important;
}