@import './variables';
@import './mypage_common';
* {
  // box-shadow: 0 0 1px 0 red;
}

section.container {
  .cols {
    .right-col {
      .dashboard {
        margin-top: 19px;
        height: 90px;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        background: #fff;
        border-top: 2px solid #333;
        border-left: 0;
        border-right: 0;
        .col {
          float: left;
          height: 100%;
          min-height: 20px;
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          &:not(:last-child):after {
            content: '';
            position: absolute;
            right: 0;
            top: 20px;
            height: 52px;
            border-right: 1px solid $borderColor;
          }

          p.title {
            font-size: 12px;
            color: #818181;
          }

          span {
            font-size: 25px;
            color: #333333;
            margin-top: 12px;
            font-weight: bold;
            small {
              font-size: 18px;
              font-weight: 400;
              margin-left: 2px;
            }
          }
        }
      } // end .dashboard

      .small-preview-with-number {
        margin-top: 20px;
        display: flex;
        align-items: center;
        .text {
          font-size: 15px;
          color: #555555;
          margin-right: 5px;
        }
        .number {
          background: black;
          border-radius: 50%;
          color: #fff;
          display: inline-block;
          width: 19px;
          height: 19px;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          margin-right: 20px;
          &.standby {
            background: #339707;
          }
          &.defer {
            background: #dab400;
          }
          &.deny {
            background: #fe1e53;
          }
          &.approve {
            background: #008fae;
          }
        }
      } // end .small-preview-with-number

      .search {
        .options {
          width: 120px;
        }
      } // end .search

      table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;

        thead {
          tr {
            th {
              height: 42px;
              box-sizing: border-box;
            }
          }
        }

        tbody {
          tr.deny {
            td {
              background: #fffbfb;
            }
          }
        }

        th, td {
          vertical-align: middle;
          color: #555555;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          height: 64px;
          box-sizing: border-box;
          &:nth-child(1) {
            width: 79px;
          }
          &:nth-child(2) {
            width: 160px;
          }
          &:nth-child(3) {
            width: 160px;
          }
          &:nth-child(4) {
            width: 80px;
          }
          &:nth-child(5) {
            width: 80px;
          }
          &:nth-child(6) {
            width: 80px;
          }
          &:nth-child(7) {
            width: 80px;
          }
          &:nth-child(8) {
            width: 80px;
          }

          &.advertising-name {

          } // end .advertising-name

          &.campaign-name {
            font-size: 12px;
          } // end .campaign-name
          &.apply-date {
          } // end .apply-date
          &.benefit {
          } // end .benefit
          &.promotion {
          } // end .promotion

          &.status {
            .inner-col {
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                display: inline-block;
              } // end span
            } // end .inner-col

          } // end .status
          &.detail {
            .inner-col {
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                width: 64px;
                height: 20px;
                border: 1px solid #ccc;
                border-radius: 3px;
                cursor: pointer;
                font-size: 12px;
                line-height: 20px;
                box-sizing: border-box;
                background-color: #f6f6f6;
                &:hover {
                  background: #333;
                  color: #fff;
                }
              }
            }
          } // end .detail
          &.reason {
            .inner-col {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                width: 58px;
                height: 20px;
                cursor: pointer;
                font-size: 12px;
                color: #fff;
                background: #959595;
              }
            }
          } // end .reason
        }
      } // end table
    }
  }
}


.wrapper-table table tr td.reason{
  position: relative;
  cursor: pointer;
}

.wrapper-table table tr td.reason:hover .pop-reason {
  display: block;
  box-shadow: 0px 0px 8px 1px rgba(17, 17, 17, 0.1);
}

.wrapper-table table tr td.reason .pop-reason {
  position: absolute;
  width: 161px;
  left: 1px;
  display: none;
  z-index: 9;
  top: 49px;
}

.wrapper-table table tr td.reason .pop-reason .header {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  background: #333333;
  color: #fff;
  padding-left: 10px;
  box-sizing: border-box;
}

.wrapper-table table tr td.reason .pop-reason .body {
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  text-align: left;
}

.wrapper-table table tr td.status span {
  color: #fff !important;
  display: inline-block;
  margin: 0 auto;
  padding: 4px 13.4px;
  box-sizing: border-box;
  border-radius: 3px;
}

.wrapper-table table tr td.status span.approve {
  background: #2b98ed !important;
}

.wrapper-table table tr td.status span.deny {
  background: #ca1818 !important;
}

.wrapper-table table tr td.status span.standby {
  background: #50b506 !important;
}

.wrapper-table table tr td.status span.defer {
  background: #f39800 !important;
}

.wrapper-table .status-dashboard {
  width: calc(100% - 60px); 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.wrapper-table .status-dashboard .col {
  float: left;
}

.wrapper-table .status-dashboard .col.number {
  width: 70%;
}



.wrapper-table .status-dashboard .col.number ul {

}

.wrapper-table .status-dashboard .col.number ul li {
  float: left;
  position: relative;
  padding-right: 15px;
  font-size: 13px;
}

.wrapper-table .status-dashboard .col.number ul li .square {
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 2px;
}

.wrapper-table .status-dashboard .col.number ul li.wait:hover {
  color: #339707;
}

.wrapper-table .status-dashboard .col.number ul li.defer:hover {
  color: #f39800;
}

.wrapper-table .status-dashboard .col.number ul li.approve:hover {
  color: #2b98ed;
}

.wrapper-table .status-dashboard .col.number ul li.deny:hover {
  color: #ca1818;
}

.wrapper-table .status-dashboard .col.number ul li .square.wait {
  background-color: #339707;
}

.wrapper-table .status-dashboard .col.number ul li .square.defer {
  background-color: #f39800;
}

.wrapper-table .status-dashboard .col.number ul li .square.approve {
  background-color: #2b98ed;
}

.wrapper-table .status-dashboard .col.number ul li .square.deny {
  background-color: #ca1818;
}

.wrapper-table .status-dashboard .col.number ul li .text {
  margin-left: 17px;
}

.wrapper-table .status-dashboard .col.result-and-selectbox {
  width: 30%;
}

.wrapper-table .status-dashboard .col.result-and-selectbox .inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.wrapper-table .status-dashboard .col.result-and-selectbox .inner .result .number {
  color: #f39800;
}

.wrapper-table .status-dashboard .col.result-and-selectbox .inner .options {
  height: 26px;
  width: 90px;
  margin-left: 9px;
}

.wrapper-table .status-dashboard .col.result-and-selectbox .inner .options .items .selected button {
  padding-left: 11px;
}

.wrapper-table .status-dashboard .col.result-and-selectbox .inner .options .items .selected button img {
  top: 9px;
  width: 9px;
}