<footer class="content-width">
  <div class="inner">
    <ul class="bottom-menu clearfix">
      <li><a href="/reviewtoc_intro.html">회사소개</a></li>
      <li></li>
      <li><a href="javascript:showTermOfUse()">이용약관</a></li>
      <li></li>
      <li><a href="javascript:showPrivatePolicy()">개인정보처리방침</a></li>
      <li></li>
      <li><a href="/ad_inquiry.html">광고문의</a></li>
      <li></li>
      <li><a href="/service_guide.html">이용가이드</a></li>
      <li></li>
      <li><a href="/customerCenter_notice.html">고객센터</a></li>
    </ul>
  </div>

  <div class="bottom-detail clearfix">
    <div class="col logo">
      <img src="./static/images/toc_logo.svg" class="logo">
    </div>
    <div class="col info">
      <p>
        드림인사이트 ㅣ 대표이사 김기철 ㅣ 서울특별시 구로구 디지털로33길 12 우림이비지센터 2차 401호 ㅣ 사업자번호 114-87-03025 <br>
        TEL 02-523-7258 ㅣ FAX 02-6280-7258 ㅣ E-MAIL dream7336@nate.com <br>
        copyright 2016 (C) dreaminsight All rights reserved.
      </p>
    </div>
    <div class="col etc">
      <div class="options">
        <div class="items">
          <div class="selected">
            <button type="button" class="selected-button">
              <span class="value">패밀리사이트</span>
              <img src="./static/images/arrow-down.png">
            </button>
          </div>
          <ul>
            <li class="list-item">
              <a href="#">드림인사이트</a>
            </li>
          </ul>
        </div>

        <div class="icons">
          <a href="#"><% include ./icons/facebook.html %></a>
          <a href="#"><% include ./icons/instagram.html %></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
