<% include ./variables/common.ejs %>
<% include ./variables/campaign_detail.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="container full-width clearfix detail">
  <div class="col-9 main">
    <div class="wrapper-pic-and-info clearfix">
      <div class="pic">
        <img src="/static/images/cpa_detail/product.png">
      </div>
      <div class="info">
        <div class="title-and-category">
          <h2>아침 모닝죽세트</h2>
          <span class="category">어린이/키성장</span>
        </div>

        <div class="detail">
          <ul class="clearfix">
            <li class="subject">· 체험상품</li>
            <li class="content">
              아침 모닝죽세트
            </li>
          </ul>
          <ul class="clearfix">
            <li class="subject">· 체험단 유형</li>
            <li class="content">
              블로그
            </li>
          </ul>
          <ul class="clearfix">
            <li class="subject">· 신청/모집인원 </li>
            <li class="content">
              30/10명
            </li>
          </ul>
          <ul class="clearfix">
            <li class="subject">· 추가수익금</li>
            <li class="content">
              11,200P
            </li>
          </ul>
          <ul class="clearfix">
            <li class="subject">· 캠페인기간</li>
            <li class="content">
              2018.04.01 ~ 2018.04.28
            </li>
          </ul>
        </div>

        <div class="wrapper-buttons clearfix">
          <button class="apply" onclick="showReport();">캠페인보고서</button>
          <!-- <button class="reg-review">리뷰등록</button> -->
          <button>1:1문의</button>
        </div>
      </div>
    </div>

    <div class="steps clearfix">
      <div class="step arrow_box">
        <div class="header">
          <span class="no-and-title">01 리뷰어선정</span>
          <span class="status">마감</span>
        </div>
        <div class="date">
          2018-04-01 ~ 2018-04-31
        </div>
        <div class="point">
          지급포인트 : 100P	
        </div>
      </div>
      <div class="step active arrow_box">
        <div class="header">
          <span class="no-and-title">02 리뷰어발표</span>
          <span class="status">마감</span>
        </div>
        <div class="date">
          2018-04-01 ~ 2018-04-31
        </div>
        <div class="point">
          지급포인트 : 100P	
        </div>
      </div>
      <div class="step arrow_box">
        <div class="header">
          <span class="no-and-title">03 리뷰등록</span>
          <span class="status">마감</span>
        </div>
        <div class="date">
          2018-04-01 ~ 2018-04-31
        </div>
        <div class="point">
          지급포인트 : 100P	
        </div>
      </div>
      <div class="step">
        <div class="header">
          <span class="no-and-title">04 베스트발표</span>
          <span class="status">마감</span>
        </div>
        <div class="date">
          2018-04-01 ~ 2018-04-31
        </div>
        <div class="point">
          지급포인트 : 100P	
        </div>
      </div>
    </div>

    <!-- 캠페인정보 -->
    <div class="wrapper-detail-info with-tab">
      <nav class="tab" id="tab-detail-info">
        <ul class="clearfix">
          <li class="active">
            <a href="#" data-to="tab-detail-info">캠페인정보</a>
          </li>
          <li>
            <a href="#" data-to="tab-applied-reviewer">신청한리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-chosen-reviewer"> 선정된리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-reg-review">리뷰등록</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-best-reviewer">베스트리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
        </ul>
      </nav>
      <div class="body">
        <div class="header clearfix">
          <span>블로그체험단</span>
          <span>
            신청인원 <span>4명</span>
          </span>
        </div>
        <img src="/static/images/campaign-image.png" style="width: 100%;">
        <div class="item">
          <span>제공상품</span>
          <p>
            상품1 + 상품2 
          </p>
        </div>
        <div class="item">
          <span>베스트리뷰어</span>
          <p>
            선정시 1,000포인트 즉시 지급!
          </p>
        </div>
        <div class="item">
          <span>캠페인안내</span>
          <p>
            선정시 1,000포인트 즉시 지급!
          </p>
        </div>
        <div class="item">
          <span>리뷰미션</span>
          <p>
            포스팅에 “00”을 소개해주세요
          </p>
        </div>
        <div class="item">
          <span>키워드</span>
          <p>
            000/봄/힐링
          </p>
        </div>
        <div class="item">
          <span>추가안내사항</span>
          <p>
            방문일정은 취소 및 변경이 불가능하오니 방문가능한 날짜를 확인후 체크해주세요!
          </p>
        </div>
        <button class="apply-btn">
          신청하기
        </button>
      </div>
    </div>

    <!-- 신청한 리뷰어 -->
    <div class="wrapper-applied-reviewer with-tab">
      <nav class="tab" id="tab-applied-reviewer">
        <ul class="clearfix">
          <li>
            <a href="#" data-to="tab-detail-info">캠페인정보</a>
          </li>
          <li class="active">
            <a href="#" data-to="tab-applied-reviewer">신청한리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-chosen-reviewer"> 선정된리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-reg-review">리뷰등록</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-best-reviewer">베스트리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
        </ul>
      </nav>
      <div class="body">
        <div class="header clearfix">
          <span>블로그체험단</span>
          <span>
            신청인원 <span>4명</span>
          </span>
        </div>

        <table>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
                <button class="update-reviewer-info" onclick="updateReviewerInfo()">리뷰어정보수정</button>
                <button class="detail">상세정보</button>
                <button class="choice" onclick="choiceReviewer(this)">선정하기</button>
                <button class="cancel hide" onclick="cancelReviewer(this)">신청취소</button>
                <button class="delete">신청삭제</button>
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr class="wrapper-detail-table hide">
            <td colspan="3">
              <table class="detail">
                <tr>
                  <td>블로그 URL</td>
                  <td>
                    http://www.naver.com
                  </td>
                </tr>
                <tr class="tr-comment">
                  <td>신청 한마디</td>
                  <td>
                    <p>Dream1 <span>(또로롱)</span></p>
                    <p>파워블로거 입니다. 열심히 리뷰 쓸게요.</p>
                  </td>
                </tr>
                <tr>
                  <td>연락처</td>
                  <td>
                    010-1234-5678
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
                <button class="update-reviewer-info" onclick="updateReviewerInfo()">리뷰어정보수정</button>
                <button class="detail">상세정보</button>
                <button class="choice" onclick="choiceReviewer(this)">선정하기</button>
                <button class="cancel hide" onclick="cancelReviewer(this)">신청취소</button>
                <button class="delete">신청삭제</button>
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr class="wrapper-detail-table hide">
            <td colspan="3">
              <table class="detail">
                <tr>
                  <td>블로그 URL</td>
                  <td>
                    http://www.naver.com
                  </td>
                </tr>
                <tr class="tr-comment">
                  <td>신청 한마디</td>
                  <td>
                    <p>Dream1 <span>(또로롱)</span></p>
                    <p>파워블로거 입니다. 열심히 리뷰 쓸게요.</p>
                  </td>
                </tr>
                <tr>
                  <td>연락처</td>
                  <td>
                    010-1234-5678
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
                <button class="update-reviewer-info" onclick="updateReviewerInfo()">리뷰어정보수정</button>
                <button class="detail">상세정보</button>
                <button class="choice" onclick="choiceReviewer(this)">선정하기</button>
                <button class="cancel hide" onclick="cancelReviewer(this)">신청취소</button>
                <button class="delete">신청삭제</button>
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr class="wrapper-detail-table hide">
            <td colspan="3">
              <table class="detail">
                <tr>
                  <td>블로그 URL</td>
                  <td>
                    http://www.naver.com
                  </td>
                </tr>
                <tr class="tr-comment">
                  <td>신청 한마디</td>
                  <td>
                    <p>Dream1 <span>(또로롱)</span></p>
                    <p>파워블로거 입니다. 열심히 리뷰 쓸게요.</p>
                  </td>
                </tr>
                <tr>
                  <td>연락처</td>
                  <td>
                    010-1234-5678
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <button class="black-btn complete-choice-reviewer center" onclick="submitChoiceReviewer()">
          리뷰어선정 완료
        </button>
        <button class="black-btn defer-choice-reviewer center hide" onclick="submitDeferReviewer()">
          리뷰어선정 보류
        </button>
      </div>
    </div>

    <!-- 선정된리뷰어 -->
    <div class="wrapper-ad-banner with-tab">
      <nav class="tab" id="tab-chosen-reviewer">
        <ul class="clearfix">
          <li>
            <a href="#" data-to="tab-detail-info">캠페인정보</a>
          </li>
          <li>
            <a href="#" data-to="tab-applied-reviewer">신청한리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li class="active">
            <a href="#" data-to="tab-chosen-reviewer"> 선정된리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-reg-review">리뷰등록</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-best-reviewer">베스트리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
        </ul>
      </nav>

      <div class="body">
        <div class="header clearfix">
          <span>블로그체험단</span>
          <span>
            선정된인원 <span>4명</span>
          </span>
        </div>
        <table>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr class="wrapper-detail-table hide">
            <td colspan="3">
              <table class="detail">
                <tr>
                  <td>블로그 URL</td>
                  <td>
                    http://www.naver.com
                  </td>
                </tr>
                <tr class="tr-comment">
                  <td>신청 한마디</td>
                  <td>
                    <p>Dream1 <span>(또로롱)</span></p>
                    <p>파워블로거 입니다. 열심히 리뷰 쓸게요.</p>
                  </td>
                </tr>
                <tr>
                  <td>연락처</td>
                  <td>
                    010-1234-5678
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- 리뷰등록 -->
    <div class="wrapper-marketingSource with-tab">
      <nav class="tab" id="tab-reg-review">
        <ul class="clearfix">
          <li>
            <a href="#" data-to="tab-detail-info">캠페인정보</a>
          </li>
          <li>
            <a href="#" data-to="tab-applied-reviewer">신청한리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-chosen-reviewer"> 선정된리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li class="active">
            <a href="#" data-to="tab-reg-review">리뷰등록</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-best-reviewer">베스트리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
        </ul>
      </nav>
      <div class="body">
        <div class="header clearfix">
          <span>블로그체험단</span>
          <span>
            등록리뷰 <span>4명</span>
          </span>
        </div>
        <table>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
                <button onclick="choiceBest(this)">
                  베스트 선정하기
                </button>
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
                <button onclick="deferBest(this)">
                  베스트 선정취소
                </button>
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
                <button onclick="choiceBest(this)">
                  베스트 선정하기
                </button>
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
        </table>
        <button class="black-btn complete-choice-best center" onclick="submitChoiceBest()">
          베스트 선정완료
        </button>
        <button class="black-btn defer-choice-best center hide" onclick="submitDeferBest()">
          베스트 선정보류
        </button>
      </div>
    </div>

    <div class="wrapper-marketingSource with-tab">
      <nav class="tab" id="tab-best-reviewer">
        <ul class="clearfix">
          <li>
            <a href="#" data-to="tab-detail-info">캠페인정보</a>
          </li>
          <li>
            <a href="#" data-to="tab-applied-reviewer">신청한리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-chosen-reviewer"> 선정된리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
          <li>
            <a href="#" data-to="tab-reg-review">리뷰등록</a>
            <span class="number">
              22
            </span>
          </li>
          <li class="active">
            <a href="#" data-to="tab-best-reviewer">베스트리뷰어</a>
            <span class="number">
              22
            </span>
          </li>
        </ul>
      </nav>
      <div class="body">
        <div class="header clearfix">
          <span>블로그체험단</span>
          <span>
            베스트리뷰어 <span>4명</span>
          </span>
        </div>
        <table>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumbnail">
              </div>
            </td>
            <td>
              <div class="header">
                  Dream1 <span>(또로롱)</span>
              </div>
              <p class="text">
                꼭 참여하고 싶어요~
              </p>
              <div class="wrapper-buttons">
              </div>
            </td>
            <td>
              2018.04.31
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-3 sub">
    <div class="inner cpa">
      <div class="item">
        <h2>연관 CPA</h2>
        <div class="card">
          <div class="wrapper-thumbnail">
            <div class="wrapper-img" style="background:url('/static/images/main/8.png')">
            </div>
            <div class="label">
              <p>추천</p>
              <p>인기</p>
            </div>
          </div>
          <div class="content">
            <div class="category">
              렌터/리스
              <div class="icons">
                <div class="icon">
                  <img src="/static/images/monitor.svg">
                </div>
                <div class="icon">
                  <img src="/static/images/smart_phone.svg">
                </div>
              </div>
            </div>
            <p class="title">De'Longhi ICONA VINTAGE</p>
            <p class="detail">승인률 : 72.16% / 신청률 : 10%</p>
            <p class="price">
              승인시 : 30,000원
              <span>+3,000원</span>
            </p>
          </div>
        </div>
      </div>

      <div class="item ">
          <div class="card">
            <div class="wrapper-thumbnail">
              <div class="wrapper-img" style="background:url('/static/images/main/8.png')">
              </div>
              <div class="label">
                <p>추천</p>
                <p>인기</p>
              </div>
            </div>
            <div class="content">
              <div class="category">
                렌터/리스
                <div class="icons">
                  <div class="icon">
                    <img src="/static/images/monitor.svg">
                  </div>
                  <div class="icon">
                    <img src="/static/images/smart_phone.svg">
                  </div>
                </div>
              </div>
              <p class="title">De'Longhi ICONA VINTAGE</p>
              <p class="detail">승인률 : 72.16% / 신청률 : 10%</p>
              <p class="price">
                승인시 : 30,000원
                <span>+3,000원</span>
              </p>
            </div>
          </div>
        </div>
    </div>
    <div class="inner tester">
      <div class="item">
        <h2>체험단 <span>List</span></h2>
        <div class="card">
          <div class="wrapper-thumbnail">
            <div class="wrapper-img" style="background:url('/static/images/cpa_detail/right2.png')">
            </div>
            <div class="label">
              <p>추천</p>
              <p>인기</p>
            </div>
          </div>
          <div class="content">
            <p class="title">옻칠 티스푼포크</p>
            <p class="detail">
              나뭇결이 돋보이는 스푼포크시리즈입니다
              아담한 사이즈의 스푼, 포크로 구성되어...
            </p>

            <div class="dDay-and-recruitment">
              <div class="dDay">
                <span class="d">D</span> - &nbsp;<span class="day"> 7일 </span>
              </div>
              <div class="recruitment">
                <span><span class="apply">61명 신청</span> / 10명 모집</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal modal-update-reviewer-info" id="modal-update-reviewer-info">
  <div class="modal-content">
    <table cellpadding="0" cellspacing="0">
      <tr class="url">
        <td>블로그 URL</td>
        <td>
          <input type="text" value="http://blog.daum.net/cgimall">
          <p>
            예시) http://blog.naver.com/test <br>
            리뷰에 사용할 블로그 URL을 입력해주세요. <br>
            (리뷰어 선정시 변경불가)
          </p>
        </td>
      </tr>
      <tr class="comment">
        <td>신청한마디</td>
        <td>
          <textarea>안녕하세요.

              이 분야에서 5년째 활동중인 블로거입니다. 

              유입수 높은 블로거들과 연계 활동중이구요.

              열심히 하겠습니다.
          </textarea>
          <p>
            신청한마디를 남겨주세요.
          </p>
        </td>
      </tr>
      <tr class="tel">
        <td>연락처</td>
        <td>
          <input type="tel" maxlength="11">
          <p>
            번호만 입력해주세요.
          </p>
        </td>
      </tr>
    </table>
    <button type="button"class="black-btn small-btn center submit" onclick="submitUpdateReviewerInfo()">
      신청완료
    </button>
  </div>
</div>
<% include ./partials/footer.ejs %>
