<% include ./variables/customerCenter_common.ejs %>
<% include ./variables/customerCenter_notice.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="customerCenter notice">
  <div class="container full-width clearfix">
    <h2 class="main-h">고객센터</h2>

    <% include ./partials/customerCenter/menu.ejs %>

    <div class="col content">
      <h2>공지사항</h2>
      <div class="search">
        <div class="options">
          <div class="items">
            <div class="selected">
              <button type="button" class="selected-button">
                <span class="value">검색유형</span>
                <img class="arrow-down" src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAngle Down%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%235c5c5c' stroke-miterlimit='10' stroke-width='1' d='M20 26l11.994 14L44 26' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E" alt="Angle Down" />
              </button>
            </div>
            <ul>
              <li class="list-item">유형1</li>
              <li class="list-item">유형2</li>
              <li class="list-item">유형3</li>
            </ul>
          </div>
        </div>
        <div class="wrapper-search-input">
          <input type="text" class="search-input" placeholder="검색어를 입력해주세요.">
          <img src="/static/images/search.svg" class="icon-search">
        </div>
        <button class="inquiry"> 검색 </button>
      </div>

      <div class="wrapper-table">
        <table class="table pc" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th width="80">NO</th>
              <th>제목</th>
              <th width="100">글쓴이</th>
              <th width="135">조회수</th>
              <th width="105">등록일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td class="subject">
                  <a href="./customerCenter_notice_detail.html">
                    제목을 지어보자 눈에띄고도 임팩트 있는 제목을
                  </a>
                </td>
                <td>관리자</td>
                <td>12</td>
                <td>2018.04.02</td>
              </tr>
            <% } %>
          </tbody>
        </table>
        
        <table class="table mobile" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>제목</th>
              <th width="40">글쓴이</th>
              <th width="40">조회수</th>
              <th width="40">등록일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr>
                <td class="subject">
                  <div class="wrapper-subject">
                    <a href="./customerCenter_notice_detail.html">
                      제목을 지어보자 눈에띄고도 임팩트 있는 제목을 sdfsdfsdfsdfsdfsdfsf
                    </a>
                  </div>
                </td>
                <td>관리자</td>
                <td>12</td>
                <td>04.02</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% include ./partials/customerCenter/pagination.ejs %>
    </div>
  </div>

  <% include ./partials/customerCenter/submenu.ejs %>
</section>

<% include ./partials/footer.ejs %>
