<% include ./variables/common.ejs %>
<% include ./variables/mypage_cpa_withdrawRequest.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="container full-width clearfix mypage">
  <h2 class="main-h">마이페이지</h2>
  <div class="cols">
    <% include ./partials/mypage_cpa_mycampaign/left_col.ejs %>
    <div class="col-9 right-col">
      <h2>출금신청</h2>

      <div class="withdraw-request clearfix">
        <div class="col available">
          <img src="/static/images/money.svg" class="cash">
          <div class="text">
            <p class="title">출금가능 수익금</p>
            <p class="amount">
              75,000<small>원</small>
            </p>
          </div>
        </div>
        <div class="col withdrawed">
          <div class="text">
            <p class="title">출금완료 수익금</p>
            <p class="amount">
              333,000<small>원</small>
            </p>
          </div>
        </div>
        <div class="col input-area">
          <div class="inner-input-text">
            <input type="number" maxlength="15" oninput="maxLengthCheck(this)">
            <span>원</span>
          </div>
          <div class="inner-button">
            <button type="button">출금신청</button>
          </div>
        </div>
      </div>
      <div class="caution">
        <h3>
          <img src="/static/images/exclamation-mark.png">
          세금계산서 관련 주의 사항
        </h3>
        <p>
          - 1. 출금신청은 서류(통장, 주민등록증 사본) 등록 후 관리자 승인후에 신청이 가능합니다.
        </p>
        <p>
          - 출금신청은 300,000원부터 가능합니다.  
        </p>
        <p>
          - 아래의 "등록한 계좌 정보" 잘못 되었거나 입금 받고자 하시는 계좌가 변경되었을시 아래의 "계좌번호변경"을 통해 변경 후 출금신청을 해주세요.
        </p>
        <p>
          - 출금신청은 매월 26일 ~ 말일 출금이 가능합니다.
        </p>
        <p>
          - 출금 신청 금액은 매월 10일 날 일괄 지급됩니다. (10일이 휴일일 경우 전날 미리 지급 됩니다.)
        </p>
      </div>

      <div class="withdraw-history-title">
        <span class="main">출금신청내역</span>
        <span class="registrated-account">등록된 계좌정보 : 254-741254-6547(국민은행 임꺽정)</span>
        <button type="button" onclick="showModalRegDocument();">
          계좌번경
        </button>
      </div>
      <div class="wrapper-table">
        <div class="status-dashboard clearfix">
          <div class="col number">
            <ul class="clearfix">
              <li class="wait">
                <span class="square wait"></span>
                <span class="text">
                대기(2)
              </span>
              </li>
              <li class="defer">
                <span class="square defer"></span>
                <span class="text">
                보류(2)
              </span>
              </li>
              <li class="approve">
                <span class="square approve"></span>
                <span class="text">
                승인(2)
              </span>
              </li>
              <li class="deny">
                <span class="square deny"></span>
                <span class="text">
                거절(2)
              </span>
              </li>
            </ul>
          </div>
          <div class="col result-and-selectbox">
            <div class="inner">
              <span class="result">검색결과 <span class="number">4</span>건</span>
              <div class="options">
                <div class="items">
                  <div class="selected">
                    <button type="button" class="selected-button">
                      <span class="value">50개씩</span>
                      <img class="arrow-down" src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAngle Down%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%235c5c5c' stroke-miterlimit='10' stroke-width='1' d='M20 26l11.994 14L44 26' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E" alt="Angle Down" />
                    </button>
                  </div>
                  <ul>
                    <li class="list-item">50개씩</li>
                    <li class="list-item">40개씩</li>
                    <li class="list-item">30개씩</li>
                    <li class="list-item">20개씩</li>
                    <li class="list-item">10개씩</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table pc">
          <thead>
            <tr>
              <th>NO</th>
              <th>신청일자</th>
              <th>신청금액</th>
              <th>입금정보</th>
              <th>지급일</th>
              <th>처리상태</th>
              <th>처리사유</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr class="<% if (i % 4 === 2) { %> tr-deny <% } %>">
                <td>
                  <%= i + 1 %>
                </td>
                <td>
                  2018.01.01 <br>
                  21:50:51
                </td>
                <td class="request-amount">
                  80,000원
                </td>
                <td class="receipt-info">
                  장길산(우리은행 111-222-333-44)
                </td>
                <td class="payday">
                  <% if (i % 4 === 3) { %>
                    2018.3.10
                  <% } else { %>
                    -
                  <% }%>
                </td>
                <td class="status">
                  <div class="inner-col">
                    <% if (i % 4 === 3) { %>
                      <span class="approve">완료</span>
                    <% } %>
                    <% if (i % 4 === 2) { %>
                      <span class="deny">거절</span>
                    <% } %>
                    <% if (i % 4 === 1) { %>
                      <span class="standby">대기</span>
                    <% } %>
                    <% if (i % 4 === 0) { %>
                      <span class="defer">보류</span>
                    <% } %>
                  </div>
                </td>
                <td class="reason">
                  <% if (i % 4 === 2) { %>
                    <div class="wrapper-reason">
                      <span>사유</span>
                      <div class="pop-reason">
                        <div class="header">
                          거절사유
                        </div>
                        <div class="body">
                          광고주가 입력한 취소 or 보류사유
                        </div>
                      </div>
                    </div>
                  <% } %>
        
                  <% if (i % 4 === 0) { %>
                    <div class="wrapper-reason">
                      <span>사유</span>
                      <div class="pop-reason">
                        <div class="header">
                          거절사유
                        </div>
                        <div class="body">
                          광고주가 입력한 취소 or 보류사유
                        </div>
                      </div>
                    </div>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <table class="table mobile">
          <thead>
            <tr>
              <!-- <th>NO</th> -->
              <th>신청일자</th>
              <th>신청금액</th>
              <th>입금정보</th>
              <th>지급일</th>
              <th>처리상태</th>
              <th>처리사유</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr class="<% if (i % 4 === 2) { %> tr-deny <% } %>">
                <!-- <td>
                  <%= i + 1 %>
                </td> -->
                <td>
                  01.01
                </td>
                <td class="request-amount">
                  80,000원
                </td>
                <td class="receipt-info">
                  장길산 <br>
                  (우리은행 111-222-333-44)
                </td>
                <td class="payday">
                  <% if (i % 4 === 3) { %>
                    3.10
                  <% } else { %>
                    -
                  <% }%>
                </td>
                <td class="status">
                  <div class="inner-col">
                    <% if (i % 4 === 3) { %>
                      <span class="approve"></span>
                    <% } %>
                    <% if (i % 4 === 2) { %>
                      <span class="deny"></span>
                    <% } %>
                    <% if (i % 4 === 1) { %>
                      <span class="standby"></span>
                    <% } %>
                    <% if (i % 4 === 0) { %>
                      <span class="defer"></span>
                    <% } %>
                  </div>
                </td>
                <td class="reason">
                  <% if (i % 4 === 2) { %>
                    <div class="wrapper-reason">
                      <span>사유</span>
                      <div class="pop-reason">
                        <div class="header">
                          거절사유
                        </div>
                        <div class="body">
                          광고주가 입력한 취소 or 보류사유
                        </div>
                      </div>
                    </div>
                  <% } %>
        
                  <% if (i % 4 === 0) { %>
                    <div class="wrapper-reason">
                      <span>사유</span>
                      <div class="pop-reason">
                        <div class="header">
                          거절사유
                        </div>
                        <div class="body">
                          광고주가 입력한 취소 or 보류사유
                        </div>
                      </div>
                    </div>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="pagination">
        <div class="col icon prev-last">
          <img src="/static/images/mypage/my_page_numbering_left_end.png" alt="처음페이지">
        </div>
        <div class="col icon prev">
          <img src="/static/images/mypage/my_page_numbering_left.png" alt="이전페이지">
        </div>
        <div class="col active">
          1
        </div>
        <div class="col">
          2
        </div>
        <div class="col">
          3
        </div>
        <div class="col">
          4
        </div>
        <div class="col">
          5
        </div>
        <div class="col icon next">
          <img src="/static/images/mypage/my_page_numbering_right.png" alt="다음페이지">
        </div>
        <div class="col icon next-last">
          <img src="/static/images/mypage/my_page_numbering_right_end.png" alt="끝페이지">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal modal-reg-document" id="modal-reg-document">
  <div class="modal-content">
    <h3>서류등록</h3>
    <p>
      사업자등록증 사본을 등록해주세요.
      <br>(*jpg, png, gif, zip, jpeg 만 가능)
    </p>
    <table cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td width="200">통장사본</td>
        <td>
          <input type="file" accept="image/*" id="img_bankbook">
        </td>
      </tr>
      <tr>
        <td>민증사본</td>
        <td>
          <input type="file" accept="image/*" id="img_residentRegistrationNumber">
        </td>
      </tr>
      </tbody>
    </table>
    <div class="wrapper-buttons">
      <button class="black-btn" onclick="confirmRegDocument();">
        확인
      </button>
      <button class="black-btn cancel" onclick="hideModal();">
        취소
      </button>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
