<% include ./variables/common.ejs %>
<% include ./variables/mypage_tester_manage_campaign_adv.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<section class="container full-width clearfix mypage">
  <h2 class="main-h">마이페이지</h2>
  <div class="cols">
    <% include ./partials/mypage_adv/left_col.ejs %>
    <div class="col-9 right-col">
      <h2>캠페인관리</h2>

      <div class="search">
        <div class="datepicker from">
          <input type="text" id="datepicker-from">
          <img src="/static/images/mypage/mypage_calendar.png">
        </div>
        <span class="wave">~</span>
        <div class="datepicker to">
          <input type="text" id="datepicker-to">
          <img src="/static/images/mypage/mypage_calendar.png">
        </div>
        <button class="period today">오늘</button>
        <button class="period cur-month">이번달</button>
        <button class="period prev-month">저번달</button>
        <button class="inquiry">조회</button>
      </div>

      <div class="ad-container">
        <div class="ad-container-inner clearfix">
          <div class="clearfix">
            <div class="wrapper-ad-img-box">
              <div class="ad-img-box">
              </div>
            </div>
            <div class="ad-detail-box">
              <div class="ad-detail-inner">
                <div class="ad-detail-top clearfix">
                  <div class="left">
                    <h4>건강/ 다이어트</h4>
                    <h3>24360올컷</h3>
                  </div>
                  <div class="right clearfix">
                    <span class="status">
                      캠페인 보고서
                    </span>
                    <a class="add" href="./campaign_detail.html?type=blog">
                      <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAdd%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%23333333' stroke-miterlimit='10' stroke-width='2' d='M32 16v32m16-16H16' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E" alt="Add" />
                    </a>
                  </div>
                </div>
  
                <div class="ad-detail-info clearfix">
                  <table>
                    <tr>
                      <td>체험상품</td>
                      <td>
                        체험상품노출
                      </td>
                    </tr>
                    <tr>
                      <td>체험단유형</td>
                      <td>
                        블로그
                      </td>
                    </tr>
                    <tr>
                      <td>신청/모집인원</td>
                      <td>
                        30/10명
                      </td>
                    </tr>
                    <tr>
                      <td>총 지급 포인트</td>
                      <td>11,100P</td>
                    </tr>
                    <tr>
                      <td>캠페인기간</td>
                      <td>
                        2018.04.01 ~ 2018.04.10
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          

          <div class="steps">
            <div class="step arrow_box">
              <div class="header">
                <span class="no-and-title">01 리뷰어 신청</span>
                <span class="status">마감</span>
              </div>
              <div class="date">
                2018-04-01 ~ 2018-04-31
              </div>
              <div class="point">
                지급포인트 : 100P
              </div>
            </div>
            <div class="step active arrow_box">
              <div class="header">
                <span class="no-and-title">02 리뷰어발표</span>
                <span class="status">마감</span>
              </div>
              <div class="date">
                2018-04-01 ~ 2018-04-31
              </div>
              <div class="point">
                지급포인트 : 100P
              </div>
            </div>
            <div class="step arrow_box">
              <div class="header">
                <span class="no-and-title">03 리뷰등록</span>
                <span class="status">마감</span>
              </div>
              <div class="date">
                2018-04-01 ~ 2018-04-31
              </div>
              <div class="point">
                지급포인트 : 100P
              </div>
            </div>
            <div class="step">
              <div class="header">
                <span class="no-and-title">04 베스트발표</span>
                <span class="status">마감</span>
              </div>
              <div class="date">
                2018-04-01 ~ 2018-04-31
              </div>
              <div class="point">
                지급포인트 : 100P
              </div>
            </div>
          </div>
        </div>

        <div class="ad-container-inner clearfix">
          <div class="clearfix">
            <div class="wrapper-ad-img-box">
              <div class="ad-img-box">
              </div>
            </div>
  
            <div class="ad-detail-box">
              <div class="ad-detail-inner">
                <div class="ad-detail-top clearfix">
                  <div class="left">
                    <h4>건강/ 다이어트</h4>
                    <h3>24360올컷</h3>
                  </div>
                  <div class="right clearfix">
                    <span class="status">
                      캠페인 보고서
                    </span>
                    <a class="add" href="./campaign_detail.html?type=sns">
                      <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAdd%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%23333333' stroke-miterlimit='10' stroke-width='2' d='M32 16v32m16-16H16' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E" alt="Add" />
                    </a>
                  </div>
                </div>
  
                <div class="ad-detail-info clearfix">
                  <table>
                    <tr>
                      <td>체험상품</td>
                      <td>
                        체험상품노출
                      </td>
                    </tr>
                    <tr>
                      <td>체험단유형</td>
                      <td>
                        SNS
                      </td>
                    </tr>
                    <tr>
                      <td>신청/모집인원</td>
                      <td>
                        30/10명
                      </td>
                    </tr>
                    <tr>
                      <td>총 지급 포인트</td>
                      <td>11,100P</td>
                    </tr>
                    <tr>
                      <td>캠페인기간</td>
                      <td>
                        2018.04.01 ~ 2018.04.10
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="steps">
              <div class="step arrow_box">
                <div class="header">
                  <span class="no-and-title">01 리뷰어 신청</span>
                  <span class="status">마감</span>
                </div>
                <div class="date">
                  2018-04-01 ~ 2018-04-31
                </div>
                <div class="point">
                  지급포인트 : 100P
                </div>
              </div>
              <div class="step active arrow_box">
                <div class="header">
                  <span class="no-and-title">02 리뷰어발표</span>
                  <span class="status">마감</span>
                </div>
                <div class="date">
                  2018-04-01 ~ 2018-04-31
                </div>
                <div class="point">
                  지급포인트 : 100P
                </div>
              </div>
              <div class="step arrow_box">
                <div class="header">
                  <span class="no-and-title">03 리뷰등록</span>
                  <span class="status">마감</span>
                </div>
                <div class="date">
                  2018-04-01 ~ 2018-04-31
                </div>
                <div class="point">
                  지급포인트 : 100P
                </div>
              </div>
              <div class="step">
                <div class="header">
                  <span class="no-and-title">04 베스트발표</span>
                  <span class="status">마감</span>
                </div>
                <div class="date">
                  2018-04-01 ~ 2018-04-31
                </div>
                <div class="point">
                  지급포인트 : 100P
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <!-- end .ad-container -->
    </div>
    <!-- end col-9 -->
  </div>
  <!-- end cols -->
</section>
<% include ./partials/footer.ejs %>
