<% include ./variables/common.ejs %>
<% include ./variables/signup_advertizer.ejs %>
<% include ./partials/header.ejs %>

<section class="signup-partner center">
  <div class="sign-up-img">
    <img src="/static/images/sign-up/sign-up-finish.svg" alt="">
  </div>
  <div class="sign-up-text">
    <h2><span>Bigcloud</span>님 환영합니다.</h2>
    <p>회원가입이 완료 되었습니다!</p>
    <span class="sub-text">※로그인은 관리자 승인 후 가능합니다</span>
  </div>
  <div class="signup-partner-btn">
    <a href="./"><button type="submit" name="button">메인화면으로</button></a>
  </div>
  <nav class="bottom-menu pc clearfix">
    <div class="intro">
      <p>리뷰톡 소개</p>
    </div>
    <div class="ad">
      <p>광고문의</p>
    </div>
    <div class="privacy">
      <p>개인정보취급방침</p>
    </div>
    <div class="term">
      <p class="last">이용약관</p>
    </div>
  </nav>
  <nav class="bottom-menu mobile clearfix">
    <p><a href="/reviewtoc_intro.html">리뷰톡 소개</a></p>
    <p><a href="/ad_inquiry.html">광고문의</a></p>
    <p><a href="javascript:showPrivatePolicy();">개인정보취급방침</a></p>
    <p class="last"><a href="javascript:showTermOfUse();">이용약관</a></p>
  </nav>
  <div class="bottom-text">
    <p>D.02-523-7258  E. dream7336@nate.co.kr</p>
  </div>
</section>
