<div class="wrapper-accordion">
  <button class="accordion">
    CPA
    <img src="/static/images/mypage/my_profile_down.png">
  </button>
  <div class="panel">
    <p>
      <a href="/mypage_cpa_dayByDay_record_adv.html" class="active">
        일별실적
      </a>
    </p>
    <p>
      <a href="/mypage_cpa_resultDashBoard_adv.html" class="active">
        일별 실적현황
      </a>
    </p>
    <p>
      <a href="/mypage_cpa_point_minus_history_adv.html">
        포인트 차감내역
      </a>
    </p>
    <p>
      <a href="/mypage_cpa_point_charge_history_adv.html">
        포인트 충전내역
      </a>
    </p>
    <p>
      <a href="/mypage_cpa_manage_ad_adv.html">
        광고 관리
      </a>
    </p>
  </div>
  
  <a href="./mypage_tester_manage_campaign_adv.html" class="accordion no-menus">
    체험단
  </a>
  <div class="panel">
    
  </div>
  <button class="accordion">
    <a href="">1:1 문의내역</a>
  </button>
  <div class="panel">
  </div>
  <button class="accordion">
    <a href="./mypage_updateProfile_partner.html">회원정보수정</a>
  </button>
  <div class="panel">
  </div>
  <button class="accordion">
    <a href="">꿀tip</a>
  </button>
  <div class="panel">
  </div>
</div>