<% include ./variables/customerCenter_tip_detail.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="customerCenter notice">
  <div class="container full-width clearfix">
    <h2 class="main-h">고객센터</h2>

    <% include ./partials/customerCenter/menu.ejs %>

    <div class="col content">
      <h2>꿀TIP</h2>

      <div class="wrapper-detail">

        <div class="header">
          <div class="title">
            <h2>흐르는 강물을 거꾸로 거슬로 오르는 연어들의</h2>
          </div>
          <div class="sub clearfix">
            <div class="col writer">
              작성자 : 장길산
            </div>
            <div class="col regdate-and-views">
              <span>2018.04.02</span>
              <span>조회 1</span>
            </div>
          </div>
        </div>

        <div class="wrapper-content">
          <div class="content">
            <h2>이 헌법공포 당시의 국회의원의 임기는 제1항에 의한 국회의 최초의 집회일 전일까지로 한다.</h2><br>

            국가는 여자의 복지와 권익의 향상을 위하여 <br>
            노력하여야 한다. 국민의 자유와 권리는 헌법에 열거되지 아니한 이유로 경시되지 아니한다. <br><br>
            
            누구든지 체포 또는 구속을 당한 때에는 즉시 변호인의 <br>
            조력을 받을 권리를 가진다. <br><br>
            
            다만, 형사피고인이 스스로 변호인을 구할 수 없을 때에는 법률이 정하는 바에 의하여 국가가 변호인을 붙인다.
          </div>
        </div>

        <div class="wrapper-buttons clearfix">
          <button>
            삭제
          </button>
          <button>
            수정
          </button>
          <button>
            글목록
          </button>
        </div>

        <div class="wrapper-reply">
          <h3>댓글등록 (0)</h3>

          <div class="write-reply clearfix">
            <div class="col textarea">
              <textarea></textarea>
            </div>
            <div class="col button">
              <button class="">
                등록
              </button>
            </div>
          </div>

          <div class="replies">

            <div class="reply">
              <div class="info-and-write-comment-button clearfix">
                <div class="col info">
                  <span>
                    <span>장길산</span>님이 작성한 댓글
                  </span>

                  <span class="regdate">
                    2018.04.02 오후 6:08:56
                  </span>
                </div>
                <div class="col write-comment-button">
                  <button class="black-btn small-btn write-comment">
                    댓글
                  </button>
                </div>
              </div>
              <div class="content">
                  행복을 줄 수 없었어 그런데 널 사랑했어. <br>
                  네 곁에 감히 머무른 내 욕심을 용서치마. <br>
                  사는 게 참 힘들었어. <br>
                  널 보며 난 견뎠어. <br>
              </div>
              <div class="update-and-delete">
                <button class="update">
                  수정
                </button>
                <button class="del">
                  삭제
                </button>
              </div>
            </div>

            <div class="reply">
              <div class="info-and-write-comment-button clearfix">
                <div class="col info">
                  <span>
                    <span>장길산</span>님이 작성한 댓글
                  </span>

                  <span class="regdate">
                    2018.04.02 오후 6:08:56
                  </span>
                </div>
                <div class="col write-comment-button">
                  <button class="black-btn small-btn write-comment">
                    댓글
                  </button>
                </div>
              </div>
              <div class="content">
                  행복을 줄 수 없었어 그런데 널 사랑했어. <br>
                  네 곁에 감히 머무른 내 욕심을 용서치마. <br>
                  사는 게 참 힘들었어. <br>
                  널 보며 난 견뎠어. <br>
              </div>
            </div>

            <div class="reply comment">
              <div class="info-and-write-comment-button clearfix">
                <div class="col info">
                  <span>
                    <span>장길산</span>님이 작성한 댓글
                  </span>

                  <span class="regdate">
                    2018.04.02 오후 6:08:56
                  </span>
                </div>
                <div class="col write-comment-button">
                  <button class="black-btn small-btn write-comment">
                    댓글
                  </button>
                </div>
              </div>
              <div class="content">
                  행복을 줄 수 없었어 그런데 널 사랑했어. <br>
                  네 곁에 감히 머무른 내 욕심을 용서치마. <br>
                  사는 게 참 힘들었어. <br>
                  널 보며 난 견뎠어. <br>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer.ejs %>
