<% include ./variables/customerCenter_common.ejs %>
<% include ./variables/customerCenter_falseReport.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="customerCenter notice">
  <div class="container full-width clearfix">
    <h2 class="main-h">고객센터</h2>

    <% include ./partials/customerCenter/menu.ejs %>

    <div class="col content">
      <h2>오류신고</h2>
      <div class="search">
        <div class="options">
          <div class="items">
            <div class="selected">
              <button type="button" class="selected-button">
                <span class="value">검색유형</span>
                <img src="./static/images/arrow-down.png">
              </button>
            </div>
            <ul>
              <li class="list-item">유형1</li>
              <li class="list-item">유형2</li>
              <li class="list-item">유형3</li>
            </ul>
          </div>
        </div>

        <div class="wrapper-search-input">
          <input type="text" class="search-input">
          <img src="./static/images/search.svg" class="icon-search">
        </div>
        <button class="inquiry"> 검색 </button>
      </div>

      <div class="wrapper-table">
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th width="80">NO</th>
              <th>제목</th>
              <th width="100">글쓴이</th>
              <th>조회수</th>
              <th>등록일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td class="subject">
                  <a href="/customerCenter_falseReport_detail.html">
                    임00회원님의 요청 사항이 정상적으로 접수 되었습니다
                  </a>
                </td>
                <td>임00</td>
                <td>
                  12
                </td>
                <td>
                  2018.04.02
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="wrapper-buttons">
          <button class="black-btn write">
            글쓰기
          </button>
        </div>
      </div>
      <% include ./partials/customerCenter/pagination.ejs %>
    </div>
  </div>
</section>

<% include ./partials/footer.ejs %>
