<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./static/css/base.css">
  <link rel="stylesheet" href="./static/css/mypage_resultDashBoard_new_window.css">
  <title>리뷰톡 - 상세보기</title>
</head>
<body>  
  <h3>
    상세보기
  </h3>
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td>신청일자</td>
      <td>
          2018.03.21  15:50:51
      </td>
    </tr>
    <tr>
      <td>광고명</td>
      <td>
        이러쿵
      </td>
    </tr>
    <tr>
      <td>캠페인명</td>
      <td>
        이러쿵
      </td>
    </tr>
    <tr>
      <td>유입경로</td>
      <td>
        <a href="http://naver.com/blog/47801880044" target="_blank">
          http://naver.com/blog/47801880044
        </a>
      </td>
    </tr>
    <tr>
      <td>처리상태</td>
      <td>
        보류
      </td>
    </tr>
    <tr>
      <td>처리사유</td>
      <td>
        부재
      </td>
    </tr>
    <tr class="ip">
      <td>아이피</td>
      <td>
        211.233.186.xxx
        <span class="same-ip-exist">
          (접수내역중 동일 IP가 존재합니다.)
        </span>
      </td>
    </tr>
    <tr>
      <td>신청자명</td>
      <td>
        홍길x
      </td>
    </tr>
    <tr>
      <td>휴대폰</td>
      <td>010-xxxx-5678</td>
    </tr>
    <tr>
      <td>자녀나이</td>
      <td>10</td>
    </tr>
    <tr>
      <td>자녀키</td>
      <td>180</td>
    </tr>
    <tr>
      <td>자녀몸무게</td>
      <td>100</td>
    </tr>
    <tr>
      <td>문의사항</td>
      <td>
        문의사항 입니다.
      </td>
    </tr>
  </table>
  <!-- <div class="wrapper-buttons">
    <button class="black-btn">승인완료</button>
    <button class="black-btn" onclick="showDeferReasonModal()">보류</button>
    <button class="black-btn" onclick="showDenyReasonModal()">승인거절</button>
  </div> -->
</body>
</html>