<% include ./variables/common.ejs %>
<% include ./variables/mypage_cpa_point_charge_history_adv.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>
<section class="container full-width clearfix mypage">
<div class="cols">
  <% include ./partials/mypage_adv/left_col.ejs %>
  <div class="col-9 right-col">
    <h2>포인트 충전내역</h2>
    <div class="search">
      <div class="options">
        <div class="items">
          <div class="selected">
            <button type="button" class="selected-button">
              <span class="value">전체</span>
              <img src="./static/images/arrow-down.png">
            </button>
          </div>
          <ul>
            <li class="list-item">전체</li>
            <li class="list-item">입금전</li>
            <li class="list-item">입금완료</li>
          </ul>
        </div>
      </div>

      <div class="datepicker from">
        <input type="text" id="datepicker-from">
        <img src="./static/images/mypage/mypage_calendar.png">
      </div>
      <span class="wave">~</span>
      <div class="datepicker to">
        <input type="text" id="datepicker-to">
        <img src="./static/images/mypage/mypage_calendar.png">
      </div>
      <button class="period cur-month"> 이번달 </button>
      <button class="period prev-month"> 지난달 </button>
      <button class="inquiry"> 조회 </button>


      <div class="options list-per-page">
        <div class="items">
          <div class="selected">
            <button type="button" class="selected-button">
              <span class="value">50개씩</span>
              <img src="./static/images/arrow-down.png">
            </button>
          </div>
          <ul>
            <li class="list-item">50개씩</li>
            <li class="list-item">40개씩</li>
            <li class="list-item">30개씩</li>
            <li class="list-item">20개씩</li>
            <li class="list-item">10개씩</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="caution">
      <h3>※ 세금계산서 관련 주의 사항</h3>
      <p>- 정부는 예산에 변경을 가할 필요가 있을 때에는 추가경정예산안을 편성하여 국회에 제출할 수 있다.</p>
      <p>- 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다.</p>
      <p>- 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한 주거생활을 할 수 있도록 노력하여야 한다.</p>
    </div>

    <div class="wrapper-table">
      <p class="header-p">
        ※ 서류가 등록되지 않았습니다. 지금 서류 (통장,주민등록증 사본) 를 등록해 주세요.
        <button class="black-btn small-btn">
          서류등록
        </button>
      </p>
      <table>
        <thead>
          <tr>
            <th>NO</th>
            <th>일자</th>
            <th>충전금액</th>
            <th>진행상태</th>
            <th>계산서 발행여부</th>
          </tr>
        </thead>
        <tbody>
          <% for (i = 0; i < 10; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td>
                2018.04.07
              </td>
              <td>
                10,000원
              </td>
              <td>
                <% if (i % 2 === 0) { %>
                  입금완료
                <% } else { %>
                  입금전
                <% } %>
              </td>
              <td>
                <% if (i % 3 === 0) { %>
                  <span class="bill-apply" onclick="showModalBillApply();">계산서 발행요청</span>
                <% } else if (i % 3 === 1 ){ %>
                  <span>
                    2018.03.23 청구발행
                  </span>
                <% } else { %>
                  <span>
                    -
                  </span>
                <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>


    <div class="pagination">
      <div class="col icon prev-last">
        <img src="./static/images/mypage/my_page_numbering_left_end.png" alt="처음페이지">
      </div>
      <div class="col icon prev">
        <img src="./static/images/mypage/my_page_numbering_left.png" alt="이전페이지">
      </div>
      <div class="col active">
        1
      </div>
      <div class="col">
        2
      </div>
      <div class="col">
        3
      </div>
      <div class="col">
        4
      </div>
      <div class="col">
        5
      </div>
      <div class="col icon next">
        <img src="./static/images/mypage/my_page_numbering_right.png" alt="다음페이지">
      </div>
      <div class="col icon next-last">
        <img src="./static/images/mypage/my_page_numbering_right_end.png" alt="끝페이지">
      </div>
    </div>
  </div>

  <div class="parent-wrapper-guide">
      <div class="wrapper-guide">
          <p>※ 서류 등록전</p>
          <div class="content">
              ※ 서류가 등록되지 않았습니다. 지금 서류 (통장,주민등록증 사본) 를 등록해 주세요.
              <button class="black-btn small-btn" onclick="showModalRegDocument();">서류등록</button>
          </div>
        </div>
        <div class="wrapper-guide">
          <p>※ 서류 등록 후 관리자가 승인 하기 전</p>
          <div class="content">
              ※ 000000 회원님. 등록 주신 서류 심사 중입니다.
              <button class="black-btn small-btn" onclick="showModalRegUpdateDocument();">등록정보변경</button>
          </div>
        </div>
        <div class="wrapper-guide">
          <p>※ 서류 등록후</p>
          <div class="content">
              ※ 000000 회원님. 정상적으로 서류 등록이 완료 되셨습니다.
              <button class="black-btn small-btn" onclick="showModalRegUpdateDocument();">등록정보변경</button>
          </div>
        </div>
      </div>
  </div>
</div>
</section>

<div class="modal modal-bill-apply" id="modal-bill-apply">
  <div class="modal-content">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td>신청일자</td>
        <td>2018.03.21 15:50:51</td>
      </tr>
      <tr>
        <td>광고명</td>
        <td>이러쿵</td>
      </tr>
      <tr>
        <td>업체명</td>
        <td>드림인사이트</td>
      </tr>
      <tr>
        <td>사업자번호</td>
        <td>114-87-111111</td>
      </tr>
      <tr>
        <td>발행금액</td>
        <td>12,000,000원(vat포함)</td>
      </tr>
      <tr>
        <td>발행메일</td>
        <td>lkj@naver.com</td>
      </tr>
      <tr>
        <td colspan="2">
          특이사항
        </td>
      </tr>
      <tr class="tr-specialNote">
        <td colspan="2">
          <textarea></textarea>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <button class="black-btn small-btn" onclick="applyBill();">
            발행요청
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal modal-reg-document" id="modal-reg-document">
  <div class="modal-content">
    <p>
       사업자등록증 사본을 등록해주세요.<br> (*jpg, png, gif, zip, jpeg 만 가능)
    </p>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td width="200">사업자사본</td>
        <td>
          <input type="file" accept="image/*">
        </td>
      </tr>
      <tr>
        <td>발행메일</td>
        <td>
          <input type="email">
        </td>
      </tr>
      <tr>
        <td>담당자명</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>직책</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>연락처</td>
        <td>
          <input type="tel">
        </td>
      </tr>
    </table>
    <button class="black-btn small-btn" onclick="regDocument();">서류등록</button>
  </div>
</div>

<div class="modal modal-reg-document-update" id="modal-reg-document-update">
  <div class="modal-content">
    <p>
      사업자등록증 사본을 등록해주세요.<br> (*jpg, png, gif, zip, jpeg 만 가능)
    </p>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td width="200">사업자사본</td>
        <td>
          <input type="file" accept="image/*">
        </td>
      </tr>
      <tr>
        <td>발행메일</td>
        <td>
          <input type="email">
        </td>
      </tr>
      <tr>
        <td>담당자명</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>직책</td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td>연락처</td>
        <td>
          <input type="tel">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          특이사항
        </td>
      </tr>
      <tr class="tr-specialNote">
        <td colspan="2">
          <textarea></textarea>
        </td>
      </tr>
    </table>
    <button class="black-btn small-btn" onclick="updateDocument();">서류등록</button>
  </div>
</div>

<% include ./partials/footer.ejs %>
