<% include ./variables/common.ejs %>
<% include ./variables/mypage_cpa_accessRoute.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="container full-width clearfix mypage">
  <h2 class="main-h">마이페이지</h2>
  <div class="cols">
    <% include ./partials/mypage_cpa_mycampaign/left_col.ejs %>
    <div class="col-9 right-col">
      <h2>접속경로</h2>
      <div class="search">
        <div class="options">
          <div class="items">
            <div class="selected">
              <button type="button" class="selected-button">
                <span class="value">전체</span>
                <img src="./static/images/arrow-down.png">
              </button>
            </div>
            <ul>
              <li class="list-item">전체</li>
            </ul>
          </div>
        </div>

        <div class="options">
          <div class="items">
            <div class="selected">
              <button type="button" class="selected-button">
                <span class="value">전체</span>
                <img src="./static/images/arrow-down.png">
              </button>
            </div>
            <ul>
              <li class="list-item">전체</li>
            </ul>
          </div>
        </div>

        <div class="datepicker from">
          <input type="text" id="datepicker-from">
          <img src="./static/images/mypage/mypage_calendar.png">
        </div>
        <span class="wave">~</span>
        <div class="datepicker to">
          <input type="text" id="datepicker-to">
          <img src="./static/images/mypage/mypage_calendar.png">
        </div>
        <button class="period today"> 오늘 </button>
        <button class="period cur-month"> 이번달 </button>
        <button class="period prev-month"> 저번달 </button>
        <button class="inquiry"> 조회 </button>
      </div>
      <div class="wrapper-table">
        <table>
          <thead>
            <tr>
              <th>날짜</th>
              <th>캠페인명</th>
              <th>아이피</th>
              <th>상태</th>
              <th>유입경로</th>
              <th>접속기기</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr>
                <td class="date">2018.05.05</td>
                <td class="campaign-name">슬피우는 두견새야</td>
                <td class="remote-ip">110.xxx.xxx.67</td>
                <td class="status">
                  <% if (i % 4 === 3) { %>
                    <span class="defer">보류</span>
                  <% } %>
                  <% if (i % 4 === 2) { %>
                    <span class="visited">방문</span>
                  <% } %>
                  <% if (i % 4 === 1) { %>
                    <span class="approve">승인</span>
                  <% } %>
                  <% if (i % 4 === 0) { %>
                    <span class="deny">거절</span>
                  <% } %>
                </td>
                <td class="access-route">
                  <a href="http://www.rainy-heaven.com">www.rainy-heaven.com</a>
                </td>
                <td class="access-device">
                  <% if (i % 2 === 0) { %>
                    PC
                  <% } %>

                  <% if (i % 2 === 1) { %>
                    Mobile
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="pagination">
        <div class="col icon prev-last">
          <img src="./static/images/mypage/my_page_numbering_left_end.png" alt="처음페이지">
        </div>
        <div class="col icon prev">
          <img src="./static/images/mypage/my_page_numbering_left.png" alt="이전페이지">
        </div>
        <div class="col active">
          1
        </div>
        <div class="col">
          2
        </div>
        <div class="col">
          3
        </div>
        <div class="col">
          4
        </div>
        <div class="col">
          5
        </div>
        <div class="col icon next">
          <img src="./static/images/mypage/my_page_numbering_right.png" alt="다음페이지">
        </div>
        <div class="col icon next-last">
          <img src="./static/images/mypage/my_page_numbering_right_end.png" alt="끝페이지">
        </div>
      </div>
    </div>
  </div>
</section>
<% include ./partials/footer.ejs %>
