<% include ./variables/common.ejs %>
<% include ./variables/promotion_accumulatedProfit.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="promotion ongoing">
  <div class="container full-width clearfix">
    <h2 class="main-h">
      프로모션
    </h2>

    <% include ./partials/promotion/menu.ejs %>

    <div class="col content">
      <h2>누적수익금</h2>
      <div class="wrapper-table">
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>순위</th>
              <th width="140">광고명</th>
              <th width="150">기본수익</th>
              <th>합계</th>
              <th width="243">누적수익금</th>
            </tr>
          </thead>
          <tbody>
            <% for (i = 0; i < 10; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td>오미자(광고명)</td>
                <td>10,000</td>
                <td>90,000</td>
                <td>32,547,881</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% include ./partials/promotion/pagination.ejs %>
    </div>
  </div>
</section>

<% include ./partials/footer.ejs %>
