<% include ./variables/common.ejs %>
<% include ./variables/service_guide.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/nav.ejs %>

<section class="service-guide">
  <div class="service-guide-title content-width center">
    <h2>
        Service Guide<br>
        <span>서비스 이용안내</span>
    </h2>
  </div>
  <nav class="service-guide-nav content-width center">
    <div class="guide-nav-btn-box">
      <button type="button" name="button" data-type="cpa" class="selected">CPA</button>
      <button type="button" name="button" data-type="tester" >체험단</button>
    </div>
  </nav>

  <div class="service-guide-step swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="service-guide-step-title">
          <p>01</p>
          <span class="step">STEP</span>
          <span class="text">
            “상단메뉴 ‘CPA’를 클릭하여 진행 중인 리스트를 보시고<br>
            홍보하고자 하는 광과주를 선택합니다.”
          </span>
        </div>
        <div class="service-guide-step-img">
          <img src="./static/images/service-guide/guide_01.png" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="service-guide-step-title">
          <p>02</p>
          <span class="step">STEP</span>
          <span class="text">
            “상세정보를 확인하신 후 ‘캠페인 생성하기’버튼을<br>
            클릭하여 나만의 홍보 URL을 생성합니다.”
          </span>
        </div>
        <div class="service-guide-step-img">
          <img src="./static/images/service-guide/guide_02.png" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="service-guide-step-title">
          <p>03</p>
          <span class="step">STEP</span>
          <span class="text">
            “생성된 홍보 URL을 복사하여 <br>
            홍보하고자 하는 매체(블로그, 카페, 지식인, SNS등)에 글을 올리실 때<br>
            해당 홍보URL을 넣으시면 됩니다.”
          </span>
        </div>
        <div class="service-guide-step-img">
          <img src="./static/images/service-guide/guide_03.png" alt="">
        </div>
      </div>

    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
      <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAngle Right%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='1' d='M26 20.006L40 32 26 44.006' stroke-linejoin='miter' stroke-linecap='butt'%3E%3C/path%3E%3C/svg%3E" alt="Angle Right" />
    </div>
    <div class="swiper-button-prev">
      <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EAngle Left%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='1' d='M39 20.006L25 32l14 12.006' stroke-linejoin='miter' stroke-linecap='butt'%3E%3C/path%3E%3C/svg%3E" alt="Angle Left" />
    </div>
    <div class="swiper-pagination"></div>
  
  </div>
</section>


<section class="reviewtoc-tip">
  <div class="reviewtoc-tip-title content-width center">
    <h2>
        리뷰톡 회원을 위한 알~찬<br>
        <span>꿀TIP</span>
    </h2>
  </div>
  <div class="reviewtoc-tip-btn-container full-width center">
    <button type="button" name="button" class="reviewtoc-tip-btn center">1:1문의 바로가기</button>
  </div>
  <ul class="reviewtoc-tip-wrap center">
    <li>
      <div class="number">
        <p>1</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>2</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>3</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>4</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>5</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>6</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>7</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>8</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>9</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
    <li>
      <div class="number">
        <p>10</p>
      </div>
      <div class="question">
        <p><span>Q.</span> 제목이 출력이 안됩니다.</p>
      </div>
      <div class="category1">
        <p>CPA</p>
      </div>
      <div class="category2">
        <p>프로모션</p>
      </div>
    </li>
  </ul>
</section>
<% include ./partials/footer.ejs %>
